<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <h1>Galería de Componentes</h1>
  
    <div class="input-section">
      <h2>Entradas</h2>
      <app-password-input (passwordChange)="onPasswordChange($event)"></app-password-input>
      <app-email-input (emailChange)="onEmailChange($event)"></app-email-input>
      <app-text-input (textChange)="onTextChange($event)"></app-text-input>
    </div>
  
    <h2>Botones</h2>
    <div class="button-section">
      <!-- Contenedor de botones a la izquierda (apilados) -->
      <div class="button-left">
        <app-primary-button (buttonClicked)="onButtonClick('primary')"></app-primary-button>
        <app-secondary-button (buttonClicked)="onButtonClick('secondary')"></app-secondary-button>
      </div>
    
      <!-- Contenedor del botón de modo oscuro (centrado) -->
      <app-dark-mode-button (modeChanged)="toggleDarkMode()"></app-dark-mode-button>
    
      <!-- Contenedor de botones a la derecha (apilados) -->
      <div class="button-right">
        <app-accept-button (buttonClicked)="onButtonClick('accept')"></app-accept-button>
        <app-cancel-button (buttonClicked)="onButtonClick('cancel')"></app-cancel-button>
      </div>
    </div>
    
  
    <div class="viewer-section">
      <h2>Datos Ingresados</h2>
      <app-viewer [password]="password" [email]="email" [text]="text"></app-viewer>
    </div>
  </div>
  
  
</body>

