body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #4285f4; /* Color de Google */
  color: white;
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ae8; /* Color más oscuro al pasar el ratón */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}