button{
  background-color: #4caf50; /* Verde para aceptar */
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espacio entre el icono y el texto */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el cursor */
  transform: scale(1.05); /* Ligeramente más grande al pasar el cursor */
}

.square {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: relative;
}

.animate {
  animation: move 1s forwards; /* Cambia 'move' por la animación que desees */
}

@keyframes move {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); } /* Cambia la distancia del movimiento */
}